.fondo{
background: linear-gradient(70deg, black, pink);

}
.container{
  background: linear-gradient(to right, pink, white);
  border-radius: 30px;
  padding: 20px;
 
}

.title{
    color: grey;
}

.botones{
   float: left;
   cursor: pointer;
   text-align: center;
}

